
.deleteIcon:hover{
	color: rgb(235, 76, 48);
	cursor: pointer;
}


.selectedRow:hover{
	font-weight: bold;	
}

.deleteModalTitle{
	font-family: "Comic Sans MS", cursive, sans-serif; 
	font-size: 24px
}

.container {
	font-weight: bold;
  }

