.graph-container {
    height:100%;
    width:100%;
  }
  
  .graph {
    background-color: steelblue;
  }

  .unavailable {
    margin: auto;
    text-align: center;
    color: #565b63;

  }
  .unavailable .h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #c0c6d1;
    text-align: center;

  }
  
  .container__graph {
    height:100%;
  }

  #tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  #tooltip.hidden {
    display: none;
  }

  #tooltip p {
    margin: 0;
    font-family: Futura;
    font-size: 16px;
    line-height: 20px;
  }

  .overlay {
    opacity: 1;
  }

  .recorder {
      width: 250px;
      padding: 9px;
      border: 1px solid gray;
      margin: 0; 
      position:absolute;
      top: 5px;
      right: 5%;
  }

  .canvas {
    position:absolute; top:-99999999px; left:-9999999999px;
  }

  .node_props {
      top: '50%';
      left: 'auto';
      right: '5%';
      bottom: 'auto';
      margin-right: '-5%';
      transform: 'translate(-50%, -50%)';
      opacity: '1';
  }
/* 
  .MuiBackdrop-root-422{
    background: transparent;
  } */