data-analytics-visualization-model/node_modules/
data-analytics-visualization-model/target/
data-analytics-visualization-config-ui/target/
data-analytics-visualization-service/target/
data-analytics-visualization-ui/target/
data-analytics-visualization-dashboard/target
data-analytics-visualization-ui-react/node_modules/
data-analytics-visualization-root/.idea
data-analytics-visualization-dashboard/.idea
data-analytics-visualization-ui/.idea
*.log
*.lock
data-analytics-visualization-config-ui-react/node_modules/
*.iml
data-analytics-visualization-model/data-analytics-visualization-model.iml
data-analytics-visualization-service/data-analytics-visualization-service.iml
data-analytics-visualization-ui-library/node_modules/
data-analytics-visualization-dashboard-react/node_modules/

data-analytics-visualization-config-ui/.idea/

aginfra+.code-workspace
data-analytics-visualization-dashboard/src/main/java/.DS_Store
data-analytics-visualization-dashboard/src/main/java/gr/.DS_Store
data-analytics-visualization-dashboard/src/main/java/gr/uoa/di/.DS_Store
data-analytics-visualization-dashboard/.DS_Store
data-analytics-visualization-dashboard/src/.DS_Store
data-analytics-visualization-dashboard/src/main/.DS_Store
data-analytics-visualization-dashboard/src/main/java/gr/uoa/.DS_Store
data-analytics-visualization-dashboard/src/main/java/gr/uoa/di/madgik/.DS_Store
data-analytics-visualization-dashboard/src/main/webapp/.DS_Store
data-analytics-visualization-root/.DS_Store
data-analytics-visualization-service/.DS_Store
data-analytics-visualization-service/src/.DS_Store
data-analytics-visualization-service/src/main/.DS_Store
data-analytics-visualization-service/src/main/webapp/.DS_Store
data-analytics-visualization/.DS_Store
data-analytics-visualization/src/.DS_Store
data-analytics-visualization/src/main/.DS_Store
data-analytics-visualization/src/main/webapp/.DS_Store
data-analytics-network-graph-ui-react/.babelrc
network-graphs-visualization-portlet/.idea/
network-graphs-visualization-portlet/.idea/artifacts/network_graphs_visualization_portlet_war.xml
network-graphs-visualization-portlet/dtd/
network-graphs-visualization-portlet/html/css/taglib/diff.css
network-graphs-visualization-portlet/target
data-analytics-visualization-dashboard/dtd
data-analytics-visualization-dashboard/html
data-analytics-visualization-dashboard/WEB-INF
data-analytics-visualization-dashboard/wap
data-analytics-visualization-dashboard/layouttpl
data-analytics-visualization-dashboard/errors
data-analytics-visualization-dashboard/favicon.ico
data-analytics-visualization-dashboard/index.jsp
data-analytics-visualization-config-ui/node_modules/

UIWorkspace.code-workspace
.idea/
*.iml