data-analytics-visualization-model/target/
data-analytics-visualization-config-ui/target/
data-analytics-visualization-service/target/
data-analytics-visualization-ui/target/
data-analytics-visualization-ui-react/node_modules/
*.log
*.lock
data-analytics-visualization-config-ui-react/node_modules/
