data-analytics-visualization-model/node_modules/
data-analytics-visualization-model/target/
data-analytics-visualization-config-ui/target/
data-analytics-visualization-service/target/
data-analytics-visualization-ui/target/
data-analytics-visualization-dashboard/target
data-analytics-visualization-ui-react/node_modules/
data-analytics-visualization-root/.idea
data-analytics-visualization-dashboard/.idea
data-analytics-visualization-ui/.idea
*.log
*.lock
data-analytics-visualization-config-ui-react/node_modules/
*.iml
data-analytics-visualization-model/data-analytics-visualization-model.iml
data-analytics-visualization-service/data-analytics-visualization-service.iml
data-analytics-visualization-ui-library/node_modules/
data-analytics-visualization-dashboard-react/node_modules/

data-analytics-visualization-config-ui/.idea/

