
.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-style {
    padding: 10px;
    margin: 20px;
  }
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .chart-container {
    position: relative;
  }
  
  /* Chart Header */
  
  .chart-header h2 {
    text-align: center;
    margin: 5px !important;
  }
  
  .chart-header label {
    font-weight: bold;
  }
  
  .chart-header .chart-selector {
    display: inline-block;
  }
  
  .chart-header .chart-printer {
    margin-left: 5px !important;
  }
  
  .chart-header i.info {
    font-size: 0.75rem !important;
    vertical-align: top;
    cursor: pointer;
  }
  
  .chart-header .ui.grid>.column:not(.row),
  .ui.grid>.row>.column {
    padding-right: 0px !important;
  }
  
  .chart-renderer canvas {
    position: static;
  }
  
  .chart-header .left-controls {
    white-space: nowrap
  }
  
  .chart-header .chart-selector {
    margin-left: 5px;
  }
  
  /* Filters */
  
  .filters-renderer>div>label {
    font-weight: bolder;
    margin: 10px 0px 5px 0px;
    display: block;
    font-size: larger;
  }
  
  .checkbox-list {
    max-height: 200px;
    width: 1200px;
    overflow: scroll;
  }
  
  /* Graph */
  
  .graph-node-line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .graph-node-circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  .graph-node-text {
    font-family: sans-serif;
    font-size: 10px;
  }
  
  /* Tree */
  
  .tree-renderer .node circle {
    fill: #999;
  }
  
  .tree-renderer .node text {
    font: 10px sans-serif;
  }
  
  .tree-renderer .node--internal circle {
    fill: #555;
  }
  
  .tree-renderer .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
  
  .tree-renderer-link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }

  h1, h2, h3 {
    display: inline;
}
div[style] {
  overflow-x: visible !important;
}

html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0px;
  position: relative;
  top: -20px;
}
.content
{
    position:absolute;
    top: 0px;
    left:10px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;     
    padding: 10px;
    margin: 10px;   
}
.headerMenu{
  position:absolute;
    top: 1px;
    left:30px;
    right:30px;
    bottom:0px;
    
}