.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0px;
  top: -20px;
  overflow: hidden;
}

.content{
  margin-top:10px;
  z-index: 0;
  position:relative;
  background-color: rgb(255, 255, 255);
  padding-bottom:20px;
}

.topMenu {
  width:100%;
}

/* .sidebar-properties {
  width: 20%;
  height: 100%;
  float: left;

}


.main-content {
  width: 56%;
  height: 100%;
  float: left;

}

.sidebar-controls{
  width: 24%;
  height: 100%;
  float: left;
} */

.config-controls {
  margin: 1em;
}



.headerMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30px;  /* 23px for dl013 liferay  */
  z-index: 1;
  width: 100%;
  height: 41px;

}

.import-form{
  margin:1em;
}

.player-controls.disabled {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: not-allowed;
}

