/* Liferay overrides */
.ui.form input[type=text] {
    height: 38px
}

.chart-header label {
    display: inline
}

.menu {
    position: relative;
    width: auto;
}

.aui .container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

